asgiref==3.8.1
boto3==1.35.29
botocore==1.35.29
certifi==2023.5.7
charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
crispy-bootstrap5==0.7
cx-Oracle==8.3.0
Django==5.1.1
django-crispy-forms==2.0
django-rest-framework==0.1.0
django-storages==1.14.4
djangorestframework==3.15.2
gunicorn==23.0.0
idna==3.4
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
packaging==24.1
pillow==10.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
PyYAML==6.0.2
render==1.0.0
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.0.2
whitenoise==6.7.0
